@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.page-header {
    font-size: 20px;
    font-weight: 700;
    padding: 0 70px;
}

.navigation-logo {
    display: block;
    position: absolute;
}

.navigation {
    display: flex;
    min-height: 64px;
    align-items: center;
    margin-left: auto;
    width: 890px;
}

.header-current {
    padding-bottom: 18px;
    border-bottom: 2px solid #756257;
}

.navigation-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 491px;
    list-style-type: none;
}

.navigation-list-user {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    margin-left: auto;
}

.navigation-link {
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    display: block;
    height: 64px;
    padding: 20px 16px;
    margin-right: 8px;
}

.navigation-link:last-child {
    margin-right: 0;
}

.navigation-link-user {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    min-width: 44px;
    height: 64px;
    padding: 22px 12px;
    position: relative;
}

.search-icon {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
}

.heart-icon {
    background-image: url("../images/heart-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
}

.favourites-value {
    position: absolute;
    left: 21px;
    top: 11px;
    width: 20px;
    min-height: 20px;
    background-color: #7DB54F;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    border-radius: 10px;
    padding: 4px 3px;
    z-index: 2;
}


.button-user {
    background-color: #756157;
    color: #ffffff;
    width: 160px;
    height: 36px;
    background: #756157;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 34px;
    margin-left: 20px;
    cursor: pointer;
}

.button-user:hover {
    background-color: #615048;
}

.button-user:focus {
    background-color: #615048;
}

.button-user:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-user:disabled {
    background-color: #E5E5E5;
}

/* hero */
.hero {
    background-color: #82B3D3;
    background-image: url("../images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}

.hero-title {
    margin-top: 51px;
}

.hero-decoration {
    background-image: url("../images/welcome-ladder.svg");
    width: 1200px;
    height: 57px;
    margin-top: 19px;
}

/* main-index */

.main-container {
    flex-grow: 1;
}

.main-index {
    text-align: center;
}

.page-container {
    margin: 0 auto;
}

/* advantages */
.advantages {
    margin-bottom: 64px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-images {
    display: block;
    width: 100%;
    height: auto;
}

.advantages-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages-lead-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    margin-bottom: 70px;
    color: #333333;
}

.index-box {
    width: 400px;
    min-height: 384px;
    background-color: #82B3D3;
    padding: 102px 85px 101px;
}

.box-half {
    background: rgba(131, 179, 211, 0.2);
}

.box-light {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 62px;
    color: #000000;
    width: 175px;
    position: relative;
}

.advantages-title::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 86px;
    left: 57px;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0 auto;
}

.white {
    color: #ffffff;
}

h3.white {
    position: relative;
}

h3.white::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 86px;
    left: 57px;
}

/* services */
.services-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 505px;
}

.services-lead-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 0 auto;
    margin-bottom: 64px;
}

.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 96px;
}

.services-item {
    padding: 81px 85px;
}

.white-box {
    background-color: #ffffff;
}

.icon-home {
    background-image: url("../images/service/service-icon-1.svg");
    background-repeat: no-repeat;
    width: 76px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.icon-eat {
    background-image: url("../images/service/service-icon-2.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 71px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.icon-souvenir {
    background-image: url("../images/service/service-icon-3.svg");
    background-repeat: no-repeat;
    width: 70px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.services-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0 auto;
}

/* go to popup */
.index-popup-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
}

.index-popup-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 592px;
}

.button-popup {
    color: #ffffff;
    background-color: #756157;
    width: 376px;
    min-height: 52px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    padding: 8px 50px;
    margin: 0 auto;
    cursor: pointer;
}

.button-popup:hover {
    background-color: #615048;
}

.button-popup:focus {
    background-color: #615048;
}

.button-popup:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-popup:disabled {
    background-color: #E5E5E5;
}

.popup-link {
    text-decoration: none;
    display: block;
    margin-bottom: 96px;
}

/* newsletter */
.newsletter {
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-color: #82B3D3;
    background-size: 100% auto;
    width: 1200px;
    height: 415px;
    color: #ffffff;
    margin: 0 auto;
    padding: 96px 258px 104px;
}

.newsletter-container {
    min-width: 475px;
    min-height: 164px;
    margin: 0 auto;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
}

.newsletter-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto;
    width: 475px;
}

.newsletter-form {
    margin: 0 auto;
    width: 684px;
    display: flex;
}

.field {
    min-width: 452px;
    min-height: 52px;
    margin: 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.newsletter-label {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    margin: 0;
    padding: 0;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    margin: 0;
    padding: 8px 50px;
    border: none;
    border-radius: 0 4px 4px 0;
    width: 232px;
    cursor: pointer;
}

.newsletter-button:hover {
    background-color: #68A2CA;
}

.newsletter-button:focus {
    background-color: #68A2CA;
}

.newsletter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
    background-color: #E5E5E5;
}

/* page-footer */

.page-footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 120px;
    align-items: center;
    padding: 40px 70px 30px;
}

.footer-social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-width: 260px;
    margin-left: auto;
}


.footer-social-link {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    min-width: 48px;
    height: 44px;
    padding: 22px 12px;
    position: relative;
}

.footer-icon-vk {
    background-image: url(../images/social-vk.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 24px;
    height: 14px;
}

.footer-icon-tg {
    background-image: url(../images/social-telegram.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 18px;
    height: 16px;
}

.footer-icon-yt {
    background-image: url(../images/social-youtube.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 22px;
    height: 18px;
}

.footer-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}


/* catalog filter */

.catalog-container {
    background-color: #82B3D3;
    background-image: url("../images/filter.jpg");
    background-size: 100% auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    padding: 35px 70px 50px;
    display: flex;
}

.filter-container {
    width: 1060px;
    padding: 0;
    margin: 0;
}

.catalog-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    margin-bottom: 8px;
}

/* breadcrumbs */
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    margin-right: 28px;
}

.breadcrumbs-icon {
    display: block;
    background-image: url(../images/breadcrumbs-home.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
    min-height: 160px;
    margin: 0 auto;
}

.infrastructure-wrapper {
    margin-right: 70px;
}

.housing-wrapper {
    width: 150px;
    margin-right: 140px;
}

.price-wrapper {
    margin-right: 70px;
}

.button-wrapper {
    width: 192px;
    min-height: 104px;
    align-self: flex-end;
}

.infrastructure-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 32px;
}

.catalog-filter-list {
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.button-filter {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    width: 192px;
    height: 36px;
    padding: 8px 50px;
    border: none;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.button-apply {
    background-color: #82B3D3;
    margin-bottom: 32px;
}

.button-apply:hover {
    background-color: #68A2CA;
}

.button-apply:focus {
    background-color: #68A2CA;
}

.button-apply:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
    background-color: #E5E5E5;
}

.button-reset {
    background-color: transparent;
}

.button-reset:hover {
    color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus {
    border-color: #82B3D3;
}

.button-reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
    color: rgba(255, 255, 255, 0.1);
}

.sorting-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    width: 1060px;
}

.result-hotels {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-right: 180px;
}



.select-control {
    margin-right: 70px;
}


.button-sorting {
    background-color: #ffffff;
    color: #000000;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 0;
    margin-left: 0;
    cursor: pointer;
}

.button-sorting:hover {
    border-color: #000000;
}

.button-sorting:focus {
    border-color: #68A2CA;
}

.button-sorting:active {
    border-color: #000000;
}

.view-tile {
    background-image: url("../images/view/variant-tile.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px 14px;
    margin-right: 8px;
}

.view-current {
    border: 2px solid #000000;
    border-radius: 4px;
}

.view-slideshow {
    background-image: url("../images/view/variant-slideshow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px 14px;
    margin-right: 8px;
}

.view-list {
    background-image: url("../images/view/variant-list.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px 14px;
}

.select-control {
    align-items: center;
    padding: 14px 20px;
    gap: 94px;
    width: 292px;
    height: 49px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    color: #333333;
}

/* hotel cards */

.cards-wrapper {
    display: grid;
    width: 1060px;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
}


.hotel-card {
    align-items: flex-start;
    padding: 20px;
    width: 340px;
    min-height: 435px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-image {
    margin-bottom: 16px;
}

.hotel-card-title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.card-flex:last-child {
    margin-bottom: 0;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.button-link {
    display: block;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-card-button {
    background-color: #756157;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    width: 140px;
    min-height: 36px;
    margin: 0;
    padding: 8px 24px;
    cursor: pointer;
}

.hotel-card-button:hover {
    background-color: #615048;
}

.hotel-card-button:focus {
    background-color: #615048;
}

.button-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button:disabled {
    background-color: #E5E5E5;
}

.button-blue {
    background-color: #82B3D3;
    padding: 0;
}

.button-blue:hover {
    background-color: #68A2CA;
}

.button-blue:focus {
    background-color: #68A2CA;
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-green {
    background-color: #7DB54F;
    padding: 0;
}

.button-green:hover {
    background-color: #6C9E42;
}

.button-green:focus {
    background-color: #6C9E42;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);
}

.stars-four {
    background-image: url("../images/stars-4.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.stars-three {
    background-image: url("../images/stars-3.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.stars-two {
    background-image: url("../images/stars-2.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.rating {
    width: 140px;
    height: 36px;
    background-color: #F2F2F2;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 0;
    padding: 8px 22px;
}

/* pagination */

.pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 70px;

}

.pagination-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 156px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item:hover:not(:first-child):not(.pagination-white) {
    background-color: #68A2CA;
}

.pagination-item:focus {
    background-color: #68A2CA;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
    color: #ffffff;
    text-decoration: none;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-white {
    background-color: #ffffff;
    color: #000000;
}

.newsletter-catalog {
    text-align: center;
    color: #000000;
}

.pagination-position {
    position: relative;
}

.newsletter-catalog {
    margin-bottom: 104px;
}

.field-catalog {
    background-color: #F2F2F2;
}

.htmlacademy-icon:hover {
    fill: #756157;
}

.htmlacademy-icon:focus {
    fill: #756157;
}

.htmlacademy-icon:active {
    fill: rgba(117, 97, 87, 0.3);
}
