@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

/* header */
.page-header {
    font-size: 20px;
    font-weight: 700;
}

.navigation-list {
    list-style: none;
}

.navigation-list-user {
    list-style: none;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-user {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-user-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 64px;
}

.navigation-user-favourites {
    background-image: url("../images/heart-icon.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 64px;
}

.favourites-value {
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 2px 3px;
}

/* hero */
.hero {
    background-color: #82B3D3;
    background-image: url("../images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    text-align: center;
    margin: auto;
}

.hero-decoration {
    position: relative;
    top: 26px;
}

/* main-index */

.main-index {
    text-align: center;
}

/* advantages */
.advantages-list {
    list-style: none;
}

.advantages-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-lead-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-title-white {
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-description-white {
    color: #ffffff;
    background-color: #82B3D3;
}

/* services */
.services-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.services-lead-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.services-list {
    list-style: none;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.services-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/* go to popup */
.index-popup-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.index-popup-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.button-popup {
    color: #ffffff;
    background-color: #756157;
    min-width: 376px;
    min-height: 52px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

/* newsletter */
.newsletter {
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-color: #82B3D3;
    background-size: 100% auto;
    width: 1200px;
    height: 415px;
    color: #ffffff;
    margin: auto;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}


/* page-footer */

.footer-social-list {
    list-style: none;
}

.footer-social-link {
    text-decoration: none;
    color: #000000;
}

.footer-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* catalig filter */
.catalog-container {
    background-color: #82B3D3;
    background-image: url("../images/filter.jpg");
    background-size: 1200px 412px;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: auto;
}

.catalog-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

/* breadcrumbs */
.breadcrumbs {
    list-style: none;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.catalog-filter-list {
    list-style: none;
}

.infrastructure-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.button-apply {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    min-width: 191px;
    min-height: 36px;
    align-items: center;
    padding: 8px 50px;
    border: none;
    border-radius: 4px;
}

.button-reset {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    min-width: 191px;
    min-height: 36px;
    align-items: center;
    padding: 8px 50px;
    border: none;
    border-radius: 4px;
}

.result-hotels {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.button-sorting {
    background-color: #ffffff;
    color: #000000;
    min-width: 48px;
    min-height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.view-tile {
    background-image: url("../images/view/variant-tile.svg");
    background-repeat: no-repeat;
}

.view-current {
    border: 2px solid #000000;
    border-radius: 4px;
}

.view-slideshow {
    background-image: url("../images/view/variant-slideshow.svg");
    background-repeat: no-repeat;
}

.view-list {
    background-image: url("../images/view/variant-list.svg");
    background-repeat: no-repeat;
}

.select-control {
    align-items: center;
    padding: 14px 20px;
    gap: 94px;
    width: 292px;
    height: 49px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    color: #333333;
}

/* hotel cards */
.hotel-card {
    align-items: flex-start;
    padding: 20px;
    gap: 16px;
    width: 340px;
    height: 438px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-button {
    background-color: #756157;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    min-width: 140px;
    min-height: 36px;
}

.button-blue {
    background-color: #82B3D3;
}

.button-green {
    background-color: #7DB54F;
}

.stars-four {
    background-image: url("../images/stars-4.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.stars-three {
    background-image: url("../images/stars-3.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.stars-two {
    background-image: url("../images/stars-2.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    background-position: center;
}

.rating {
    width: 140px;
    height: 37px;
    background-color: #F2F2F2;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}

/* pagination */
.pagination-list {
    list-style: none;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}

.pagination-link {
    color: #ffffff;
    text-decoration: none;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-white {
    background-color: #ffffff;
    color: #000000;
}

.newsletter-catalog {
    text-align: center;
    color: #000000;
}
