@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

body {
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

/* header */
.page-header {
    font-size: 20px;
    font-weight: 700;
}

.navigation-list {
    list-style: none;
}

.navigation-list-user {
    list-style: none;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-user {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    background-color: #82B3D3;
    background-image: url(../images/welcome-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    text-align: center;
}

.hero-decoration {
    position: relative;
    top: 26px;
}

/* main-index */

.main-index {
    text-align: center;
}

.advantages-lead-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-lead-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-title {
    font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}

.advantages-description {

}
